@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_fondo1: #141e24;
    --color_fondo2: #394f50;
    --tittle: #7eb45c;
    --sub-title: #d8ffa7;
    --toggle:#306724;

    --flecha: #d3ff56;
    --titulo-flotante: #3bbea6;
    --blanco: #ffffff;
    --negro: #000000;

}
body{
    height:100vh;
    overflow-x: hidden;
    width: 100vw;
    
}
/* WELCOME */
.welcome{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 5rem;
    color: var(--tittle);

    opacity: 1; /* Por defecto visible */
    transition: opacity 1s ease; /* Transición de 1 segundo */
}
.welcome.active{
    /* display: none; */
    opacity: 0; /* Cambia la visibilidad con opacidad */
    pointer-events: none; /* Evita interacción */
}


/* SE MANEJA EL MAIN ANTES Y DESPUES DE GO! */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: auto;

    background: 
        url('imagenes/decoracionIzquierda.png') no-repeat bottom left,
        url('imagenes/decoracionDerecha.png') no-repeat top right,
        linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    background-size: auto, auto, cover;
    transition:0.5s ;
}
.main.active{
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: 1rem;
    height: 100vh;
    width: auto;
    margin-left: 6.8%;

    background: 
        url('imagenes/decoracionIzquierda.png') no-repeat bottom left,
        url('imagenes/decoracionDerecha.png') no-repeat top right,
        linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    background-size: auto, auto, cover;
    
    transition:0.5s ;
    text-align: center;
}
.contenedorDecoracion{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.decoracionDerecha {
    position: absolute;
    top: 0; /* Posición superior */
    right: 0; /* Posición derecha */
    width: 20%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: 0; /* Asegura que esté en el fondo */
}
.decoracionIzquierda {
    position: absolute;
    bottom: 0; /* Posición inferior */
    left: 0; /* Posición izquierda */
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: 0; /* Asegura que esté en el fondo */
}



/* INTRODUCCION FIRST */

.first{
    display: none;
}
.first.active{
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
    /* width: 80vw; */
}
.greeting{
    font-size: 3.4rem;
    color:  var(--sub-title);
    margin-top: 0vh;
    margin-bottom: 2.5vh;
}

.whoAmI{
    font-size: 4rem;
    display: flex;
    justify-content:center;
    gap: 0.8vw;
}
.this{
    color: var(--tittle);
}
h1{
    font-size: 4.2rem;
    color:var(--blanco);
    margin-bottom: 1vh;
}
.title{
    font-size: 2.5rem;
    color: var(--tittle);
    margin-bottom: 4vh;
}
.text{
    font-size: 1.2rem;
    color:var(--blanco);
    margin-bottom: 1vh;
}
.text1{
    font-size: 1.2rem;
    color:var(--blanco);
    margin-bottom: 15vh;
}
.sub-text{
    font-size: 1.2rem;
    color:var(--sub-title);
}
.divisionFlechasGo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vh;
}
.flechaGo{
    margin-top: 1.3vh;
    font-size: 3rem;
    color: var(--flecha);
}

/* --------  BOTON DE GO */
.iniciar{
    display: none;
    /* opacity: 0; 
    transition: opacity 1s ease;  */
}
.iniciar.active{
    display: block;
    /* opacity: 1;
    transition: opacity 1s ease; */
    z-index: 10;
    width: auto;
    height: auto;
    /* position: absolute; */
    /* top: 80vh; */
    /* left: 46.5vw; */
    font-size: 3.5rem;

    border: none;
    background: transparent;
    color: var(--tittle);
}
.iniciar.active:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    text-shadow: 0px 0px 3px var(--flecha); 
    color: var(--blanco);
    transition: 0.5s;
}

/* THINK... */
.introAbout {
    opacity: 0; /* Inicialmente invisible */
    display: none; /* Fuera del flujo al inicio */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 5rem;
    color: var(--tittle);
    transition: opacity 1s ease; /* Transición suave para opacidad */
    pointer-events: none; /* Sin interacción mientras es invisible */
}

.introAbout.active {
    display: flex; /* Aparece en el flujo */
    opacity: 1; /* Hace visible el elemento */
    pointer-events: auto; /* Permite interacción si es necesario */
}

.introAbout.inactive {
    opacity: 0; /* Comienza a desvanecerse */
    pointer-events: none; 
}

/* ----NAVEGACION------- */

.header-container{
    /* position: relative;
    width: 100%;
     */
    display: none;
}
.header-container.active{
    display: block;
    position: relative;
    width: 100%;
    transition: 0.5s;
    z-index: 3;
}
/* #Ticono{
    font-size: 4rem;
} */
.navigation{
    position: fixed;
    width: 7%;
    height: 100%;
    background: linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    /* border-left: 15px solid var(--color_fondo1); */
    transition: 0.5s;
    overflow: hidden;
}
@media (max-width: 775px) { /* Para pantallas más pequeñas */
    .navigation {
        width: 10vw; 
    }
    .navigation.active{
        width: 20vw;
    }
    .navigation.active .icon{
        display: none;
    }
    .navigation.active li{
        padding: 1.2vw;
    }
    .navigation.active .title{
        font-size: 2vw;
        text-align: center;
    }
}

.navigation.active{
    width: 20vw;
    /* border-right: 1.5px solid var(--negro); */
}

.toggle{
    position: relative;
    /* width: 60px; */
    /* height: 60px; */
    /* margin-top: 1vh; */
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--tittle);
    background: var(--toggle)
}
.toggle:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    /* text-shadow: 0px 0px 3px var(--flecha);  */
    color: var(--blanco);
}
.toggle ion-icon{

}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    margin-bottom: 1vh;
}

.navigation ul li :hover,
.navigation ul li.hovered{
    /* background-color: var(--blanco); */
    filter: drop-shadow(0px 0px 3px var(--flecha));
    color: var(--negro);
    /* color: var(--blanco); */
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--tittle);
    gap: 0vw;
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--sub-tittle);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height:70px;
    text-align: center;
    margin-left: 1.2vw;
    font-size: 2vw;
}

.navigation ul li.curriculum{
    margin-top: 10vh;
    /* pointer-events: none; */
}
.navigation ul li.curriculum:hover,
.navigation ul li.curriculum.hovered {
    filter: drop-shadow(0px 0px 1px var(--flecha));
    text-shadow: 0px 0px 1px var(--flecha);
    color: var(--blanco);
}

.navigation ul li.curriculum a:hover,
.navigation ul li.curriculum.hovered a {
    color: var(--sub-tittle);
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 3.5vw;
    height: .5vh;
    line-height:58px;
    text-align: start;
    white-space: nowrap;
    font-size: 1.3vw;
    text-shadow: 0px 0px 1px var(--negro);
}



/* --------------------------------------------------- */
/* Aca empieza la zona main */


.foto{
    display: none;
    flex-direction: column;
    /* font-size: 3rem; */
    color: var(--blanco);
    min-height: 100vh;

    position: relative; 
    align-items: center;
    justify-content:flex-end; 
    padding: 0;
    text-align: center;
}
.foto img{
    width: 87.8%;
    height: auto;
    z-index: 1;
    filter: drop-shadow(0px 0px 1.2px var(--flecha));
    /* mask-image: linear-gradient(black 70%, transparent); */
}
.foto h2{
    position: absolute; 
    bottom: 15%; 
    left: 48.5%; /* Centra horizontalmente */
    transform: translateX(-51.5%); /* Ajusta la alineación horizontal */
    z-index: 2; 
    color: var(--blanco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 3.2vw; 
}
.foto h6{
    position: absolute; 
    bottom: 11%; 
    left: 48.5%; 
    transform: translateX(-51.5%); 
    z-index: 2; 
    color: var(--tittle);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 2vw; 
}
.logosImagen{
    position: absolute; 
    bottom: 5%; 
    left: 48.5%; 
    transform: translateX(-51.5%); 
    z-index: 2; 
    color: var(--blanco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 1.8vw; 
}
.logosImagen a{
    text-decoration: none;
    margin: .7rem;
}
.logosImagen ion-icon{
    color: var(--blanco);
}
.foto.active{
    font-size: 3rem; 
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Gradiente de opacidad */
    -webkit-background-clip: text; /* afecte texto */
    background-clip: text; /* afecte al texto */
    filter: blur(3px); /* Aplica desenfoque */
    z-index: 1;
}
/* PARA IMAGEN EN DESVANECIDO */
.blurred-image {
    width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
    filter: blur(5px); /* Aplica el desenfoque a toda la imagen */
    mask-image: linear-gradient(to left, black 50%, transparent 100%); /* Máscara para hacer que el desenfoque solo se aplique en la parte izquierda */
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%); /* Máscara para Webkit */
}

.texto{
    display: none;
    font-size: 3rem;
    color: var(--blanco);
}










