@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_fondo1: #141e24;
    --color_fondo2: #394f50;
    --tittle: #7eb45c;
    --sub-title: #d8ffa7;
    --toggle:#306724;

    --flecha: #d3ff56;
    --titulo-flotante: #3bbea6;
    --blanco: #ffffff;
    --negro: #000000;

}
body{
    height:100vh;
    /* overflow-x: hidden; */
    width: 100vw;
    overflow: hidden;
    
}
a{
    text-decoration: none;
}
/* WELCOME */
.welcome{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 6vw;
    color: var(--tittle);

    opacity: 1; /* Por defecto visible */
    transition: opacity 1s ease; /* Transición de 1 segundo */
}
.welcome.active{
    /* display: none; */
    opacity: 0; /* Cambia la visibilidad con opacidad */
    pointer-events: none; /* Evita interacción */
}


/* SE MANEJA EL MAIN ANTES Y DESPUES DE GO! */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: auto;

    background: 
        url('imagenes/decoracionIzquierda.png') no-repeat bottom left,
        url('imagenes/decoracionDerecha.png') no-repeat top right,
        linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    background-size: 21%, 21%, cover;
    transition:0.5s ;
}
.main.active{
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: .8vw;
    height: 100vh;
    width: auto;
    margin-left: 7%;

    background: 
        url('imagenes/decoracionIzquierda.png') no-repeat bottom left,
        url('imagenes/decoracionDerecha.png') no-repeat top right,
        linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    background-size: 21%, 20%, cover;
    
    transition:0.5s ;
    text-align: center;
}
.main.nodivision{
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 100vh;
    width: auto;
    margin-left: 7%;

    background: 
        url('imagenes/decoracionIzquierda.png') no-repeat bottom left,
        url('imagenes/decoracionDerecha.png') no-repeat top right,
        linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    background-size: 21%, 20%, cover;
    
    transition:0.5s ;
    text-align: center;
}
.contenedorDecoracion{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.decoracionDerecha {
    position: absolute;
    top: 0; /* Posición superior */
    right: 0; /* Posición derecha */
    width: 20%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: 0; /* Asegura que esté en el fondo */
}
.decoracionIzquierda {
    position: absolute;
    bottom: 0; /* Posición inferior */
    left: 0; /* Posición izquierda */
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: 0; /* Asegura que esté en el fondo */
}



/* INTRODUCCION FIRST */

.first{
    display: none;
}
.first.active{
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
    /* width: 80vw; */
}
.greeting{
    font-size: 4vw;
    color:  var(--sub-title);
    margin-top: 0vh;
    margin-bottom: 2.5vh;
}

.whoAmI{
    font-size: 5vw;
    display: flex;
    justify-content:center;
    gap: 0.8vw;
}
.this{
    color: var(--tittle);
}
h1{
    font-size: 5.2vw;
    color:var(--blanco);
    margin-bottom: 1vh;
}
.title{
    font-size: 3vw;
    color: var(--tittle);
    margin-bottom: 4vh;
}
.text{
    font-size: 1.5vw;
    color:var(--blanco);
    margin-bottom: 1vh;
}
.text1{
    font-size: 1.5vw;
    color:var(--blanco);
    margin-bottom: 15vh;
}
.sub-text{
    font-size: 1.6vw;
    color:var(--sub-title);
}
.divisionFlechasGo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vh;
}
.flechaGo{
    margin-top: 1.3vh;
    font-size: 3.5vw;
    color: var(--flecha);
}

/* --------  BOTON DE GO */
.iniciar{
    display: none;
}
.iniciar.active{
    display: block;
    z-index: 10;
    width: auto;
    height: auto;

    font-size: 4vw;

    border: none;
    background: transparent;
    color: var(--tittle);
}
.iniciar.active:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    text-shadow: 0px 0px 3px var(--flecha); 
    color: var(--blanco);
    transition: 0.5s;
}

/* THINK... */
.introAbout {
    opacity: 0; /* Inicialmente invisible */
    display: none; /* Fuera del flujo al inicio */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 5rem;
    color: var(--tittle);
    transition: opacity 1s ease; /* Transición suave para opacidad */
    pointer-events: none; /* Sin interacción mientras es invisible */
}

.introAbout.active {
    display: flex; /* Aparece en el flujo */
    opacity: 1; /* Hace visible el elemento */
    pointer-events: auto; /* Permite interacción si es necesario */
}

.introAbout.inactive {
    opacity: 0; /* Comienza a desvanecerse */
    pointer-events: none; 
}


/* ----NAVEGACION------- */

.header-container{
    display: none;
}
.header-container.active{
    display: block;
    position: relative;
    width: 100%;
    transition: 0.5s;
    z-index: 3;
}

.navigation{
    position: fixed;
    width: 7%;
    height: 100vh;
    background: linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
    /* border-left: 15px solid var(--color_fondo1); */
    transition: 0.5s;
    overflow: hidden;
}



.navigation.active{
    width: 18vw;
    /* border-right: 1.5px solid var(--negro); */
}

.toggle{
    position: relative;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--tittle);
    background: var(--toggle)
}
.toggle:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    /* text-shadow: 0px 0px 3px var(--flecha);  */
    color: var(--blanco);
}
.toggle ion-icon{
    font-size: 4.2vw;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    margin-bottom: 1vh;
}

.navigation ul li :hover,
.navigation ul li.hovered{
    /* background-color: var(--blanco); */
    filter: drop-shadow(0px 0px 3px var(--flecha));
    color: var(--negro);
    /* color: var(--blanco); */
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--tittle);
    gap: 0vw;
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--sub-tittle);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height:70px;
    text-align: center;
    margin-left: 1.2vw;
    font-size: 2vw;
}

.navigation ul li.curriculum{
    margin-top: 10vh;
    /* pointer-events: none; */
}
.navigation ul li.curriculum:hover,
.navigation ul li.curriculum.hovered {
    filter: drop-shadow(0px 0px 1px var(--flecha));
    text-shadow: 0px 0px 1px var(--flecha);
    color: var(--blanco);
}

.navigation ul li.curriculum a:hover,
.navigation ul li.curriculum.hovered a {
    color: var(--sub-tittle);
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 3.5vw;
    height: .5vh;
    line-height:58px;
    text-align: start;
    white-space: nowrap;
    font-size: 1.3vw;
    text-shadow: 0px 0px 1px var(--negro);
}







/* Aca empieza la zona main */

/* -------------ABOUT --------------ABOUT-------------ABOUT---- */
.foto{
    display: none;
    flex-direction: column;
    /* font-size: 3rem; */
    color: var(--blanco);
    min-height: 100vh;

    position: relative; 
    align-items: center;
    justify-content:flex-end; 
    padding: 0;
    text-align: center;
}
.foto img{
    width: 87.8%;
    height: auto;
    z-index: 1;
    filter: drop-shadow(0px 0px 1.2px var(--flecha));
    /* mask-image: linear-gradient(black 70%, transparent); */
}
.foto h2{
    position: absolute; 
    bottom: 15%; 
    /* left: 48.5%; Centra horizontalmente */
    /* transform: translateX(-51.5%); Ajusta la alineación horizontal */
    z-index: 2; 
    color: var(--blanco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 3.2vw; 
    transition: 0.5s;
}
.foto h2:hover{
    text-shadow: 0px 0px 6px var(--titulo-flotante);
    transition: 0.5s;
}
.foto h6{
    position: absolute; 
    bottom: 11%; 
    left: 48.5%; 
    transform: translateX(-51.5%); 
    z-index: 2; 
    color: var(--tittle);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 2vw; 
}
.logosImagen{
    position: absolute; 
    bottom: 5%; 
    left: 48.5%; 
    transform: translateX(-51.5%); 
    z-index: 2; 
    color: var(--blanco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 1.8vw; 
}
.logosImagen a{
    text-decoration: none;
    margin: .7rem;
}
.logosImagen ion-icon{
    color: var(--blanco);
    transition: 2.5s;
}
.logosImagen ion-icon:hover{
    color: var(--titulo-flotante);
    font-size: 2.8vw; 
    transition: 0.5s;
}

.foto.active{
    font-size: 3rem; 
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Gradiente de opacidad */
    -webkit-background-clip: text; /* afecte texto */
    background-clip: text; /* afecte al texto */
    filter: blur(3px); /* Aplica desenfoque */
    z-index: 1;
}
/* PARA IMAGEN EN DESVANECIDO */
.blurred-image {
    width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
    filter: blur(5px); /* Aplica el desenfoque a toda la imagen */
    mask-image: linear-gradient(to left, black 50%, transparent 100%); /* Máscara para hacer que el desenfoque solo se aplique en la parte izquierda */
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%); /* Máscara para Webkit */
}

.texto{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    /* gap: 1vh; */
}
.texto h4{
    color: var(--tittle);
    font-size: 4.5vw;
    margin-top: -4vh;
    margin-bottom: 3vh;
    width: 100%;
    text-align: left;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.79); 
    text-shadow: -1.5px 1.5px 1px var(--flecha); 
}

.texto div{
    font-size: 1.5vw;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    /* margin-left: 4.5vw; */
    margin-top: 1.5vw;
}
.texto div p{
    margin-top: .7vh;
}
/* #flechasScroll{
    padding-top: 2vh;
    margin-left: 2vw;

    text-align: left;
    font-size: 3vw;
}
#flechasScroll ion-icon{
    color: var(--flecha);
    transition: 1.5s;
}

#flechasScroll ion-icon:hover{
    color: var(--titulo-flotante);
    transform: scale(0.7);
    transition: 0.5s;
} */
#flechasScroll {
    position: fixed; /* Fija el elemento en la pantalla */
    bottom: 3vh; /* Separación desde la parte inferior */
    right: 3vw; /* Separación desde el lado izquierdo */
    font-size: 3.3vw; 
    display: flex; 
    gap: 12px; 
    z-index: 1000; 
}

/* Estilos para los íconos */
#flechasScroll ion-icon {
    color: var(--flecha); 
    transition: color 1.5s, transform 0.5s; 
    cursor: pointer; 
}

/* Efecto al pasar el mouse por encima */
#flechasScroll ion-icon:hover {
    color: var(--titulo-flotante); 
    transform: scale(0.7); 
}










/* --------PRINCIPLESS--------PRINCIPLESS--------PRINCIPLESS */

.principles {
    display: none;
}
.principles.active {
    display: grid;
    grid-template-columns: 1fr .8fr 1fr; /* 3 columnas de igual tamaño */
    grid-template-rows: auto auto auto; /* 3 filas de altura automática */
    grid-template-areas: 
        "head head head"
        "body1 body2 body3"
        "foot1 foot2 foot3"; 
    gap: 1vw;  
    width: 92vw;
    height: 80vh;
    align-items: start;
    transition: 2.5s;

    /* margin-right: 2vw;  */
}

.principles.active p{
    color: var(--blanco);
    font-size: 1.2vw;
    transition: 2.5s;
}

.head {
    grid-area: head;
    padding: 0px;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 2vw;
    color: var(--tittle);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.79); 
    text-shadow: -1.5px -1.5px 1px var(--flecha); 
}
.principles div{
    /* width: 28vw; */
    height: 10vw;
}


.body1 {
    grid-area: body1;
    padding: 0px;
    text-align: center;
    
    transition: 2.5s;
}
.principles h6{
    color: var(--titulo-flotante);
    text-shadow: 1.5px 1.5px 1px var(--flecha); 
    margin-bottom: 1.1vh;
    font-size: 3vw;
    transition: 2.5s;
}
.body1 p{
    display: none;

}
.body1:hover p{
    display: grid;
    transition: 1.5s;
}

.body2 {
    grid-area: body2;
    padding: 0px;
    text-align: center;

    transition: 2.5s;
}
.body2 p{
    display: none;
}
.body2:hover p{
        display: grid;
        transition: 2.5s;
}

.body3 {
    grid-area: body3;
    padding: 0px;
    text-align: center;

    transition: 2.5s;
}
.body3 p{
    display: none;
}
.body3:hover p{
    display: grid;
    transition: 2.5s;
}
.foot1 {
    grid-area: foot1;
    padding: 0px;
    text-align: right;
    transition: 2.5s;
}
.foot1 p{
    display: none;
    text-align: center;
}
.foot1:hover p{
    display: grid;
    padding-left: 15vw;
}

.foot2 {
    /* display: none; */
    grid-area: foot2;
    background: 
    url('imagenes/vela1Amarillo.png') no-repeat center;
    z-index: 5;
}

.foot3 {
    grid-area: foot3;
    padding: 0px;
    text-align: left;
    transition: 2.5s;
}
.foot3 p{
    display: none;
}
.foot3:hover p{
    display: grid;
    text-align: center;
    padding-right: 15vw;
}



/* ----------- MISION---------  MISION--------- MISION---------*/

.mision{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: -10vh;
    color: var(--blanco);
    /* gap: 1vh; */
}
.mision h4{
    color: var(--tittle);
    font-size: 4.8vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 100%;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.79); 
    text-shadow: -1.5px 1.5px 1px var(--flecha); 
}
.aspiration{
    text-align: left;
    margin-left: 3vw;
    align-items: flex-start;
    margin-bottom: 5vh;
}
.mision .aspiration p{
    text-align: left;
}

.ambition{
    align-items: flex-end;
    margin-right: 5vw;
    text-align: right;
}

.mision p{
    font-size: 1.4vw;
    margin-top: .7vh;
}

/* ------SERVICES----------SERVICES----------SERVICES--------- */

.services{
    display: none;
    grid-template-rows: .2fr .8fr;
    height: 75vh;
    align-self: start;
    margin-top: 9vh;
}
.services h4{
    color: var(--tittle);
    font-size: 4.8vw;
    margin-bottom: 3vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.79); 
    text-shadow: -1.5px 1.5px 1px var(--flecha); 
}
.gridServices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 5vw;
    gap: 2vw;
}
.gridServices h6{
    font-size: 2vw;
    padding: 1.5vw;
    color: var(--titulo-flotante);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.79); 
    /* text-shadow: -1.5px 1.5px 1px var(--color_fondo1);  */

}
.gridServices p{
    color: var(--blanco);
    margin: 1.3vw;
    text-align: justify;
    line-height: 1.2;
}
.gridServices ion-icon{
    font-size: 3.5vw;
    color: var(--titulo-flotante);
    /* text-shadow: 2px 2px 50px var(--blanco); */
}


.service1, .service2, .service3 {
    background: linear-gradient(to bottom, #141e2460, #394f5025);
    border-radius: 1.5vw;
    height: 80%;
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde tenue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.349); /* Sombra ligera */
    transition: 1.5s;
}

.service2 {
    align-self: center;
}

.service3 {
    align-self: flex-end;
}

.service1:hover, .service2:hover, .service3:hover {
    scale: 1.1;
    transition: 1.5s;
}



/* EXPERTISE------ EXPERTISE------EXPERTISE------EXPERTISE------*/
.expertise{
    display: none;
    flex-direction: column;
    justify-content: center;
    width:95%;

    height: 75vh;
    overflow-x: hidden;
    /* color: var(--blanco); */
    /* gap: 1vh; */
}
.expertise h5{
    color: var(--tittle);
    font-size: 4.5vw;
    /* margin-top: -4vh; */
    margin-bottom: 3vh;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.79); 
    /* text-shadow: -1.5px 1.5px 1px var(--flecha);  */
}
.contenedorImages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    overflow: auto;
    gap: 5vw;
    flex-wrap: wrap;
    z-index: 2;
}
.contenedorImages img{
    filter: grayscale(100%);
    transition: 2.5s;
}
.contenedorImages img:hover{
    filter: grayscale(0%);
    transition: .6s;
    
}
.expertise h4{
    color: var(--blanco);
}
.expertise h4:hover{
    color: var(--flecha);
}









/* MOBILE VERSION ----------- MOBILE VERSION ----------- */
.nav_mobile{
    display: none;
}

.toggle_mobile{
    cursor: pointer;
    color: var(--tittle);
    background: var(--toggle);
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.toggle_mobile:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    /* text-shadow: 0px 0px 3px var(--flecha);  */
    color: var(--blanco);
}
.toggle_mobile ion-icon{
    font-size: 6vw;
}


.nav-list-mobile{
    display: none;
}

.nav_mobile ul{
    flex-direction: column;
    justify-content: center;
    margin-left: 6vw;
    margin-top: 2vh;
    width: 100%;
}
.nav_mobile ul li {

    list-style: none;
    margin-bottom: 1vh;
}

.nav_mobile ul li :hover,
.nav_mobile ul li.hovered{
    filter: drop-shadow(0px 0px 3px var(--flecha));
    color: var(--negro);
}

.nav_mobile ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--tittle);
    gap: 0vw;
}
.nav_mobile ul li:hover a,
.nav_mobile ul li.hovered a{
    color: var(--sub-tittle);
}
.nav_mobile ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height:70px;
    text-align: center;
    font-size: 2rem;
}

.nav_mobile ul li.curriculum{
    margin-top: 10vh;
    /* pointer-events: none; */
}
.nav_mobile ul li.curriculum:hover,
.nav_mobile ul li.curriculum.hovered {
    filter: drop-shadow(0px 0px 1px var(--flecha));
    text-shadow: 0px 0px 1px var(--flecha);
    color: var(--blanco);
}

.nav_mobile ul li.curriculum a:hover,
.nav_mobile ul li.curriculum.hovered a {
    color: var(--sub-tittle);
}

.nav_mobile ul li a .title{
    position: relative;
    display: block;
    padding: 0 3.5vw;
    height: .5vh;
    line-height: 58px;
    text-align: start;
    white-space: nowrap;
    font-size: 3vw;
    text-shadow: 0px 0px 1px var(--negro);
}


@media (max-width: 1150px) {
    .header-container.active {
        display: none;
    }
    .nav_mobile{
        width: 8vw;
        display: block;
        position: fixed;
        background: linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
        transition: 0.5s;
        overflow: hidden;
        z-index: 15;
        border-bottom-right-radius: 20px;
    }
    .nav_mobile.active{
        width: 40vw;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 50px;
        box-shadow: 10px 10px 0px -8px var(--flecha);
        /* height: 60vh; */
    }
    .nav-list-mobile.active{
        display: flex;
    }
    .welcome{
        font-size: 9vw;
    }
    .main{
        background-size: 34%, 30%, cover;
    }
    .main.active {
        margin-left: 0;
        background-size: 34%, 34%, cover;
        display: flex;
        flex-direction: column-reverse;
    }
    .greeting {
        font-size: 7vw;
    }
    .whoAmI {
        font-size: 8vw;
    }
    h1 {
        font-size: 8.3vw;
    }
    .title{
        font-size: 5vw;
    }
    .text{
        font-size: 2.5vw;
    }
    .text1{
        font-size: 2.5vw;
    }
    .sub-text{
        font-size: 2.6vw;
    }
    .flechaGo{
        font-size: 6.5vw;
    }
    .iniciar.active {
        font-size: 8vw;
    }

/* ABOUT ME */
    .foto{
        height: 50vh;
        min-height: 20vh;
    }
    .foto img {
        width: 75%;
    }
    .foto h2{
        font-size: 5vw;
        bottom: 20%;
        /* transform: translateX(0%);
        left: 0%; */
    }
    .foto h6 {
        font-size: 3vw;
        bottom: 13%;
    }
    .logosImagen{
        font-size: 2.8vw; 
    }
    .texto{
        min-height: 20vh;
        height: 50vh;
        width: 70%;
    }
    .texto h4 {
        font-size: 7vw;
        margin-top: 0;
    }
    .texto div{
        margin-left: 4.5vw;
        font-size: 1.8vw;
    }
    #flechasScroll {
        font-size: 6vw;

    }
/* GUIDING LIGHTS */
    .main.nodivision{
        margin-left: 0;
        background-size: 30%, 30%, cover;
    }
    .principles.active p{
        font-size: 1.5vw;
    }
    .head {
        font-size: 6vw;
    }
    .principles h6{
        font-size: 4vw;
    }
    .foot1 p{
        padding-left: 10vw;
    }
    .foot1:hover p{
        padding-left: 10vw;
    }
    .foot3 p{
        padding-right: 8vw;
    }
    .foot3:hover p{
        padding-right: 8vw;
    }
/* MISION Y VISION */
    .mision{
        margin-top: 0;
    }
    .mision h4{
        font-size: 8vw;
    }
    .aspiration{
        margin-left: 0;
    }
    .mision .aspiration p{
        font-size: 2.5vw;
    }
    .ambition{
        margin-right: 0;
    }
    .mision p{
        font-size: 2.5vw;
    }

/* SERVICES */

    
    .services {
        margin-top: 0;
    }
    .services h4{
        font-size: 5.8vw;
    }
    .gridServices h6{
        font-size: 3vw;
    }
    .gridServices p{
        font-size: 2vw;
    }

    .gridServices ion-icon{
        font-size: 4.5vw;
    }






}






@media (max-width: 800px) { /* Para pantallas más pequeñas */
    .header-container.active {
        display: none;
    }
    .nav_mobile{
        width: 12vw;
        display: block;
        position: fixed;
        background: linear-gradient(to right, var(--color_fondo1), var(--color_fondo2));
        transition: 0.5s;
        overflow: hidden;
        z-index: 15;
        border-bottom-right-radius: 20px;
    }
    .nav_mobile.active{
        width: 40vw;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 50px;
        box-shadow: 10px 10px 0px -8px var(--flecha);
        /* height: 60vh; */
    }
    .nav-list-mobile.active{
        display: flex;
    }
    .welcome{
        font-size: 5rem;
    }
    .main{
        background-size: 43%, 43%, cover;
    }
    .main.active {
        margin-left: 0;
        background-size: 38%, 32%, cover;
        display: flex;
        flex-direction: column-reverse;
    }
    .greeting {
        font-size: 9vw;
    }
    .whoAmI {
        font-size: 10vw;
    }
    h1 {
        font-size: 10.3vw;
    }
    .title{
        font-size: 6vw;
    }
    .text{
        font-size: 4vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .text1{
        font-size: 4vw;
        margin-left: 3.1vw;
        margin-right: 3.1vw;
    }
    .sub-text{
        font-size: 3.6vw;
    }
    .flechaGo{
        font-size: 7.5vw;
    }
    .iniciar.active {
        font-size: 9vw;
    }

/* ABOUT ME */
    .foto{
        height: 50vh;
        min-height: 20vh;
    }
    .foto img {
        width: 70%;
    }
    .foto h2{
        font-size: 9vw;
        bottom: 20%;
    }
    .foto h6 {
        font-size: 5.8vw;
        bottom: 13%;
    }
    .logosImagen{
        font-size: 4.8vw; 
    }
    .texto{
        min-height: 20vh;
        height: 50vh;
        width: 80%;
    }
    .texto h4 {
        font-size: 12vw;
        margin-top: 0;
    }
    .texto div{
        margin-left: 4.5vw;
        font-size: 2.7vw;
    }
    #flechasScroll {
        font-size: 6vw;

    }
/* GUIDING LIGHTS */
    .main.nodivision{
        margin-left: 0;
        background-size: 30%, 30%, cover;
    }
    .principles.active p{
        font-size: 1.5vw;
    }
    .head {
        font-size: 6vw;
    }
    .principles h6{
        font-size: 4vw;
    }
    .foot1 p{
        padding-left: 10vw;
    }
    .foot1:hover p{
        padding-left: 10vw;
    }
    .foot2 {
        display: none;
    }
    .foot3 p{
        padding-right: 8vw;
    }
    .foot3:hover p{
        padding-right: 8vw;
    }
/* MISION Y VISION */
    .mision{
        margin-top: 0;
    }
    .mision h4{
        font-size: 8vw;
    }
    .aspiration{
        margin-left: 0;
    }
    .mision .aspiration p{
        font-size: 2.5vw;
    }
    .ambition{
        margin-right: 0;
    }
    .mision p{
        font-size: 2.5vw;
    }

/* SERVICES */

    .services {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .services h4{
        font-size: 5.8vw;
    }
    .gridServices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        overflow-y: scroll;
    }
    .gridServices h6{
        font-size: 3vw;
    }
    .gridServices p{
        font-size: 2.6vw;
    }

    .gridServices ion-icon{
        font-size: 4.5vw;
    }










}








@media (max-width: 500px) { 
    .toggle_mobile ion-icon{
        font-size: 8vw;
    }
    .nav_mobile{
        width: 15vw;
    }
    .foto{
        height: 40vh;
        min-height: 20vh;
        
    }
    .texto{
        min-height: 20vh;
        height: 60vh;
        width: 80%;
        z-index: 1;
    }
    .texto h4 {
        font-size: 13vw;
        margin-top: 0;
    }
    .texto div{
        margin-left: 4.5vw;
        font-size: 3.5vw;
    }
    #flechasScroll {
        font-size: 8vw;
    }
    /* GUIDING LIGHTS */
    .principles.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .principles.active p{
        font-size: 2.5vw;
        
    }
    .head {
        font-size: 9vw;
    }
    .principles h6{
        font-size: 7vw;
    }
    .foot1 p{
        padding-left: 0;
    }
    .foot1:hover p{
        padding-left: 0;
    }
    .foot2 {
        display: none;
    }
    .foot3 p{
        padding-right: 0;
    }
    .foot3:hover p{
        padding-right: 0;
    }

/* MISION Y VISION */
    .mision{
        width: 85%;
    }
    .mision h4{
        font-size: 11vw;
    }
    .mision .aspiration p{
        font-size: 4.3vw;
    }
    .mision p{
        font-size: 4.3vw;
    }

/* SERVICES */

    .services h4{
        font-size:12vw;
    }
    .gridServices h6{
        font-size: 6vw;
    }
    .gridServices p{
        font-size: 4vw;
    }

    .gridServices ion-icon{
        font-size: 7.5vw;
    }




}
